{% extends "base.html" %}
{% block content %}    
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div id="paypal-button"></div>
  <script>
    paypal.Button.render({
      env: 'sandbox', // Or 'sandbox',

      commit: true, // Show a 'Pay Now' button

      client: {
      	sandbox: 'AQBhEyJ3eHxZjct02KmnC9tuItCtW9W1CLjNvUk-XJJPvQ-CcUEUcYMf_Hf7ladliImxa1o5RXdP7PZf'
      },

      style: {
        color: 'gold',
        size: 'small'
      },

      payment: function(data, actions) {

      	return actions.payment.create({
      		payment: {
      			transactions: [
      				{
      					amount: { total: '500.00', currency: 'INR'}	
      				}
      			]

      		}
      	})
        /* 
         * Set up the payment here 
         */
      },

      onAuthorize: function(data, actions) {
      	return actions.payment.execute().then(function(){
          console.log(payment)
      		window.alert('Payment complete!');	
      	});
        /* 
         * Execute the payment here 
         */
      },

      onCancel: function(data, actions) {
        /* 
         * Buyer cancelled the payment 
         */
      },

      onError: function(err) {
        /* 
         * An error occurred during the transaction 
         */
      }
    }, '#paypal-button');
  </script>
{% endblock %}